#LE_choropleth_map {
	top:5px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#LE_choropleth_map_2019 {
	top:5px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#Bubble_chart {
	top:5px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/	
}

#Isotype_chart {
	top:5px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/	
}
#connected_scatterplot {
	top:5px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/	
}

#dashed_line_plot {
	top: 5px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}

.section_claass {
	height: 600px;
}

.regular_section {
	height: 550px;
}
