#LE_choropleth_map {
  width: 15%;
  float: left;
}

#LE_choropleth_map_2019 {
  margin-left: 15%;
}

#block_container
{
  width: 80%;
  height: 200px;
  background: aqua;
  margin: auto;
  padding: 10px;
}
